<h2>Political News</h2>
<% if @politics_articles.blank? %>
  <p>There is no politics news of note today.</p>
<% else %>
  <%= render partial: "article", collection: @politics_articles %>
<% end %>

<h2>Business News</h2>
<% if @business_articles.blank? %>
  <p>There is no business news of note today.</p>
<% else %>
  <%= render partial: "article", collection: @business_articles %>
<% end %>

<h2>Technology News</h2>
<% if @technology_articles.blank? %>
  <p>There is no technology news of note today.</p>
<% else %>
  <%= render partial: "article", collection: @technology_articles %>
<% end %>

<hr>
<p>For more of the latest news, please visit <%= link_to "our top stories", "http://experimental.capitalmusings.com/top_news", target: "_blank" %> or look at the latest <%= link_to "news wires", "http://experimental.capitalmusings.com/wires", target: "_blank" %>.</p>
<p>Automagically generated at <%= Time.current.localtime.strftime("%D %H:%M %Z") %> for <%= @user.email %>. If you wish to unsubscribe, you can update your subscription settings <a href="http://experimental.capitalmusings.com/users/edit" target="_blank">here</a>.</p>