%center
  %h1
    = raw @first_article.tags.map(&:name).map {|t| t }.first
    = 'Article'.pluralize(@articles.count)
= render "layouts/ad"
#articles
  = render @articles || "There are currently no articles in this section."

= will_paginate @articles