%center
  %h1= "#{'Article'.pluralize(@articles.count)} about #{raw @first_article.tags.map(&:name).map {|t| t }.first}"
= will_paginate @articles, class: 'musings_pagination'
= render "layouts/ad"
- if @articles
  - for entry in @articles
    - unless entry.published_at.nil?
      %h2= entry.name
      .date= entry.published_at.localtime.strftime("%A, %-d %B %Y, %-I:%M:%S %P %Z")
      %p= sanitize entry.summary
      .read-more= link_to "Read more »", entry.url, :target => '_blank'
      - if Rails.env.development?
        /Only show in development
        %p= raw entry.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
        %p= link_to "Edit", edit_article_path(entry), class: 'btn btn-small'
        %hr/
        /Only show in development
      %br/
      %br/
- else 
  %p There are currently no articles in this section.
= render "layouts/ad"
= will_paginate @articles, class: 'musings_pagination'