- for entry in @articles
  - unless entry.published_at.nil?
    %h2= entry.name
    .date= entry.published_at.localtime.strftime("%A, %-d %B %Y, %-I:%M:%S %P %Z")
    %p= entry.content.html_safe
    - if admin_signed_in?
      /Only show as admin
      %h6 Categories
      %p= entry.category
      %h6 Tags
      %p= raw entry.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
      %p= link_to "Edit", edit_article_path(entry), class: 'btn btn-small'
      /Only show as admin
    %hr
= will_paginate @articles, class: 'musings_pagination'
%hr
= render "layouts/ad"