%br
- render 'secondary_navbar'
%p
  = link_to '« Prev', article_url(@article.prev), class: 'read-more' if @article.prev
  = link_to 'Next » ', article_url(@article.next), class: 'read-more pull-right' if @article.next

= render 'layouts/ad'

%h1= @article.name
.date
  %p
    Originally published at
    = link_to Article.simplify_url(@article.url), @article.url, target: "_blank"
    on
    = @article.published_at.localtime.strftime("%A, %-d %B %Y, %-I:%M:%S %P %Z")
-if @article.content.present?
  %p= (sanitize @article.content).html_safe
-elsif @article.summary.present?
  %p= (sanitize @article.summary).html_safe
-else
  %p Syndication does not include the article information. You can visit the full article below.
.read-more.pull-right= link_to "Original Article »", @article.url, :target => '_blank'
%br
- if admin_signed_in?
  %p
    = link_to "Edit", edit_article_path(@article), class: 'btn btn-small'
    = link_to 'Back', :back, class: "btn btn-small"

= render 'layouts/ad'