%h1= @article.name
-if @article.content
  %p= @article.content.html_safe
-else
  %p= @article.summary
.read-more= link_to "Original Article »", @article.url, :target => '_blank'
%br
- if admin_signed_in?
  %p
    = link_to "Edit", edit_article_path(@article), class: 'btn btn-small'
    = link_to 'Back', :back, class: "btn btn-small"