%center 
  %h1 Top News
= will_paginate @articles, class: 'musings_pagination'
- for entry in @articles
  - unless entry.published_at.nil?
    %h2= entry.name
    .date= entry.published_at.localtime.strftime("%A, %-d %B %Y, %-I:%M:%S %P %Z")
    %p= sanitize entry.summary
    .read-more= link_to "Read more »", entry.url, :target => '_blank'
    %br/
    %br/
= will_paginate @articles, class: 'musings_pagination'
= render "layouts/ad"