= render "layouts/ad"
= will_paginate @articles, class: 'musings_pagination'

- for entry in @articles
  - unless entry.published_at.nil?
    %h2= entry.name
    %p= entry.published_at.strftime("%A, %B #{entry.published_at.day.ordinalize}, %Y, %I:%M:%S %p %Z")
    %p= sanitize entry.summary
    %p= link_to "Read more »", entry.url, :target => '_blank'
    %br/

= will_paginate @articles, class: 'musings_pagination'
= render "layouts/ad"