<div class="row-fluid">
  <div class="span10">
    <center>
      <h1>Press Wires</h1>
    </center>
    <hr>
    <%= will_paginate @articles, class: 'musings_pagination' %>

      <table class='table table-hover'>
        <thead>
          <th>Release Time</th>
          <th>News</th>
        </thead>
        <tbody>
        <% for entry in @articles %>
          <tr>
            <td><%= entry.published_at.localtime.strftime("%-m–%-d–%y %H:%M") %></td>
            <td><%= link_to entry.name, entry.url, :target => '_blank' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <%= will_paginate @articles, class: 'musings_pagination' %>
  </div>
  <div class="span2">
    <h5>About</h5>
    <hr>
    <p class="futura-light">
      <small>
        This subdomain is where we will be housing all of our prototypes. This page is currently showing our experimental wire. Our original site can be found by going to <%= link_to "Capital Musings", "http://www.capitalmusings.com" %>.
      </small>
    </p>
    <br/>
    <h5>Sponsors</h5>
    <hr>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Wide Skyscraper -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-6270646168060989"
         data-ad-slot="4480928241"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
