<h1>News Wires</h1>
<%= will_paginate @articles, class: 'musings_pagination' %>
<%= render "layouts/ad" %>

<table class='table'>
  <thead>
    <th colspan=2>Release Time</th>
    <th>News</th>
  </thead>
  <tbody>
  <% for entry in @articles %>
    <tr>
      <td><%= entry.published_at.strftime("%D") %></td>
      <td><%= entry.published_at.strftime("%H%MZ") %></td>
      <td><%= link_to entry.name, entry.url, :target => '_blank' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render "layouts/ad" %>
<%= will_paginate @articles, class: 'musings_pagination' %>