<%= will_paginate @articles, class: 'musings_pagination' %>

<% for entry in @articles %>
  <% unless entry.published_at.nil? %>
    <h3><%= entry.name %></h3>
    <p><%= entry.published_at.strftime("%A, %B #{entry.published_at.day.ordinalize}, %Y, %I:%M:%S %p %Z") %></p>
    <% if current_page?(root_path) || current_page?(controller: 'news', action: 'home') && entry.content && entry.category = "cm" %>
      <p><%= entry.content.html_safe %></p>
    <% else %>
      <p><%= sanitize entry.summary %></p>
      <p><%= link_to "Read more »", entry.url, :target => '_blank' %></p>
    <% end %>
    <br />
  <% end %>
<% end %>

<%= will_paginate @articles, class: 'musings_pagination' %>