<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="form-actions">
    <%= f.submit "Sign in", class: "btn" %>
  </div>
  <div class="form-actions">
    <%= link_to "Sign up", new_user_registration_path, class: "btn" if devise_mapping.registerable?  %>
    <%= link_to "Forgot password?", new_user_password_path, class: "btn" if devise_mapping.recoverable? %>
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn" if devise_mapping.omniauthable? %>
  </div>
<% end %>
