<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <center>
        <%- link_to image_tag("http://capitalmusings.com/wp-content/uploads/2011/11/logo1.png"), "http://experimental.capitalmusings.com" %>
        <div class="logo">
          <div class="company">Capital Musings</div>
          <div class="tagline">The Nexus of Politics, Business, and Technology</div>
        </div>
      </center><!-- Put brand here for now -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <li><%= link_to 'Musings',  root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
            <ul class="dropdown-menu">  
              <li class="nav-header">By Urgency</li>
              <li><% link_to "All", articles_path %></li><!-- Commented Out -->
              <li><%= link_to 'Top',  top_news_path %></li>
              <li><%= link_to 'Wires',  wires_path %></li>
              <li class="divider"></li>
              <li class="nav-header">By Vertical</li>
              <% tag_cloud Article.tag_counts do |tag| %>
                <li><%= link_to tag.name, tag_path(tag.name) %></li>
              <% end %>
            </ul><!-- /Dropdown Menu -->
          </li>
        </ul>
        <!-- <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Search">
        </form> -->
        <ul class="nav pull-right">
          <li>    
            <%= link_to 'About',  about_path %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>    
                <%= link_to 'Experimental',  root_path %>
              </li>
              <li><%= link_to 'Main Site',  'http://capitalmusings.com' %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>

          <!-- Login and Logout -->
            <% if admin_signed_in? %>
              <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
              <li><%= link_to "Admin", admins_path %></li>
            <% else %>
              <% if user_signed_in? %>
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            <% end %><!-- /Login and Logout -->

        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->