<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse.headbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse navbar-inverse-collapse headbar">
        <ul class="nav">
          <li><%= link_to 'Musings', musings_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">External News <b class="caret"></b></a>
            <ul class="dropdown-menu">  
              <li class="nav-header">By Relevance</li>
              <li><%- link_to "All", articles_path %></li><!-- Commented Out -->
              <li><%= link_to 'Top News', top_news_path %></li>
              <li><%= link_to 'Press Wires', wires_path %></li>
              <li class="divider"></li>
              <li class="nav-header">By Vertical</li>
              <% tag_cloud Article.tag_counts do |tag| %>
                <li><%= link_to tag.name, tag_path(tag.name) %></li>
              <% end %>
            </ul><!-- /Dropdown Menu -->
          </li>          
        </ul>
        <ul class="nav pull-right">
          <li><a data-toggle="modal" href="#about_modal">About</a></li>
          <% if user_signed_in? || admin_signed_in? %>
            <li><%= link_to 'Legacy Subsciption', 'http://capitalmusings.com/subscribe' %></li>
          <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscribe <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Daily (Alpha)', new_user_registration_path %></li>
              <li><%= link_to 'Monthly', subscribe_path %></li>
            </ul>
          </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Experimental', root_path %></li>
              <li><%= link_to 'Old Site', 'http://capitalmusings.com' %></li>
            </ul>
          </li>
        <!-- Login and Logout -->
          <% if admin_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu"> 
                <li><%= link_to "Article Index", articles_path %></li>
                <li><%= link_to "User Panel", admins_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <% if user_signed_in? %>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          <% end %><!-- /Login and Logout -->
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>