<!DOCTYPE html>
<html>
<head>
  <title>Capital Musings</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
  </div>
  <%= render "layouts/analytics" %>
  <% if mobile_device? %>
    <script type="text/javascript" src="//use.typekit.net/ncx1utp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <% else %>
    <script type="text/javascript" src="//use.typekit.net/ymn4gmp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <% end %>
</body>
</html>
